@model AshankNimap.Models.Product
@{
    ViewBag.Title = "DeleteProduct";
}

<h2 style="text-align:center;background-color:darkslategray;color:whitesmoke">Delete Product</h2>

<br/>
@using (Html.BeginForm("DeleteProduct", "Product"))
{
    <div style="margin-left:520px;">
        @Html.LabelFor(P => P.ProductId)<br />
        @Html.TextBoxFor(P => P.ProductId, new {@class="form-control", @readonly = "true" })
    </div>

    <br/>
    <div style="margin-left:520px;">
        @Html.LabelFor(P => P.ProductName)<br />
        @Html.TextBoxFor(P => P.ProductName, new { @class = "form-control", @readonly = "true" })
    </div>

    <br/>
    <div style="margin-left:520px;">
        @Html.LabelFor(P => P.Category.CategoryName)<br />
        @Html.DropDownListFor(P => P.CategoryId, ViewBag.CategoryList as SelectList, " -Select Category-", new { @class = "form-control" , @readonly = "true"  })
    </div>
    <br/>

    <div style="margin-left:520px;">
        <font color="red">Are You sure of deleting the current record?</font>
    </div>
    <br/>

    <div style="margin-left:620px;">
        <input type="submit" value="Delete" class="btn btn-danger" name="btnSave" />
    </div>
}
<br/>
@Html.ActionLink("Back to DisplayProducts", "DisplayProducts")